<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" th:classappend="${classActiveEdit}? 'active'" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="true">Edit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:classappend="${classActiveOrders}? 'active'" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="false">Orders</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:classappend="${classActiveShipping}? 'active'" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">Shipping</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent" style="margin-bottom: 100px;">
			<div class="tab-pane show" th:classappend="${classActiveEdit}? 'in active'" id="edit" role="tabpanel" aria-labelledby="edit-tab">

				<!-- Edit user information -->
                <div class="panel-group">
                    <div class="panel panel-default" style="border: none;">
                        <div class="panel-body" style="margin-top: 20px;">

                            <div style="padding: 40px;">

                                <div class="alert alert-danger" th:if="${incorrectPassword}">
                                    <strong>Incorrect Password!</strong> Please enter the correct password for the current user.
                                </div>

                                <div class="alert alert-success" th:if="${updateSuccess}">
                                    <strong>Update Success!</strong>
                                </div>

                                <div class="alert alert-danger" th:if="${emailExists}">
                                    <strong>Email exists!</strong>
                                </div>

                                <div class="alert alert-danger" th:if="${usernameExists}">
                                    <strong>Username exists!</strong>
                                </div>

                                <div th:if="${captchaVerifyMessage}" class="container alert alert-danger container" role="alert">
                                    <h5 th:text="${captchaVerifyMessage}"></h5>
                                </div>

                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}" />

                                    <div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>

                                    <div class="form-group">
                                        <label for="companyName">Company Name</label>
                                        <input type="text" class="form-control"
                                               id="companyName"
                                               th:name="companyName"
                                               th:value="${user.companyName}" />
                                    </div>

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-sm">
                                                <label for="firstName">First Name</label> <input
                                                    type="text" class="form-control" id="firstName"
                                                    name="firstName" th:value="${user.firstName}" />
                                            </div>

                                            <div class="col-sm">
                                                <label for="lastName">Last Name</label>
                                                <input type="text"
                                                       class="form-control" id="lastName"
                                                       th:name="lastName"
                                                       th:value="${user.lastName}" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Username</label>
                                        <input type="text" class="form-control"
                                               id="userName"
                                               th:name="username"
                                               th:value="${user.username}" />
                                    </div>

                                    <!--<div class="form-group">-->
                                        <!--<label for="currentPassword">Current Password</label> ' <input-->
                                            <!--type="password" class="form-control" id="currentPassword"-->
                                            <!--name="password" th:value="${currentPassword}" />-->
                                    <!--</div>-->

                                    <p style="color: #828282">Enter your current password to
                                        change the email address or password.
                                    </p>

                                    <div class="form-group">
                                        <label for="email">* Email Address</label>
                                        <input type="text" class="form-control" id="email" name="email" th:value="${user.email}" />
                                    </div>

                                    <p style="color: #828282">A valid email address. All
                                        emails from the system withll be sent to this address. The
                                        email address is not made public and will only be used if you
                                        wish to receive a new password or wish to receive certain
                                        notification.
                                    </p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Password</label>&nbsp;<span
                                            id="checkPasswordMatch" style="color: red;"></span> <input
                                            type="password" class="form-control" id="txtNewPassword"
                                            name="newPassword" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword" />
                                    </div>

                                    <p style="color: #828282">To change the current user password, enter the new password in both fields.</p>

                                    <button id="updateUserInfoButton" type="submit" class="btn btn-primary">Save All</button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
			</div>

			<div class="tab-pane" th:classappend="${classActiveOrders}? 'in active'" id="order" role="tabpanel" aria-labelledby="order-tab">

				<!-- Order Information -->
				<div>
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body" style="margin-top: 20px;">

								<div style="padding: 40px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Order Date</th>
                                                <th>Order Number</th>
                                                <th>Total Before Vat</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="order : ${orderList}">
                                                <td>
                                                    <a th:href="@{/orderDetail(id=${order.id})}">
                                                        <span th:text="${order.orderDate}"></span>
                                                    </a>
                                                </td>
                                                <td data-th-text="${order.id}"></td>
                                                <td data-th-text="${order.orderTotal}"></td>
                                                <td data-th-text="${order.orderStatus}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

								<div th:if="${displayOrderDetail}" style="background-color: #f5f5f5;">
									<div class="row">
										<div class="col-sm">
											<div class="text-center">
												<h2>
													Order Detail for Purchase #<span th:text="${order.id}"></span>
												</h2>
											</div>
											<hr />

											<div class="row">
												<div class="col-sm-4">
													<div class="panel panel-default height" style="margin-left: 15px;">
														<div class="panel-heading">
															<strong>Billing Details</strong>
														</div>
														<div class="panel-body">
															<span th:text="${order.billingAddress.billingAddressName}"></span><br />
															<span th:text="${order.billingAddress.billingAddressStreet1}"></span><br />
															<span th:text="${order.billingAddress.billingAddressCity}"></span><br />
															<span th:text="${order.billingAddress.billingAddressState}"></span><br />
															<span th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="panel panel-default height">
														<div class="panel-heading">
															<strong>Payment Information</strong>
														</div>
														<div class="panel-body">
															<span th:text="${order.payment.holderName}">Card Name</span><br />
															<span th:text="${order.payment.cardNumber}">Card Number</span><br />
															<span>Exp Date:</span>
															<span th:text="${order.payment.expiryMonth}"></span>/
															<span th:text="${order.payment.expiryYear}"></span><br />
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="panel panel-default height">
														<div class="panel-heading">
															<strong>Shipping Details</strong>
														</div>
														<div class="panel-body">
															<span th:text="${order.shippingAddress.shippingAddressName}"></span><br />
															<span th:text="${order.shippingAddress.shippingAddressStreet1}"></span><br />
															<span th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
															<span th:text="${order.shippingAddress.shippingAddressState}"></span><br />
															<span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row" style="margin-top: 40px;">
										<div class="col-sm">
											<div class="panel-heading">
												<h3 class="text-center">
													<strong>Order Summary</strong>
												</h3>
											</div>
											<div class="panel-body">
												<div class="table-responsive">
													<table class="table table-condensed">
														<thead>
															<tr>
																<td><strong>Item Name</strong></td>
																<td class="text-center"><strong>Item Price</strong></td>
																<td class="text-center"><strong>Item Quantity</strong></td>
																<td class="text-right"><strong>Total</strong></td>
															</tr>
														</thead>
														<tbody>
															<tr th:each="cartItem : ${cartItemList}">
																<td data-th-text="${cartItem.product.productName}"></td>
																<td class="text-center">
                                                                    <span th:text="#{product.currency.euro}"></span>
                                                                    <span data-th-text="${cartItem.product.ourPrice}"></span>
                                                                </td>
																<td class="text-center" data-th-text="${cartItem.qty}"></td>
																<td class="text-center">
                                                                    <span th:text="#{product.currency.euro}"></span>
                                                                    <span data-th-text="${cartItem.subtotal}"></span>
                                                                </td>
															</tr>
															<tr>
																<td class="highrow"></td>
																<td class="highrow"></td>
																<td class="highrow text-right"><strong>Total Before Vat</strong></td>
																<td class="highrow text-right">
                                                                    <span th:text="#{product.currency.euro}"></span>
                                                                    <span data-th-text="${order.orderTotal}"></span>
                                                                </td>
															</tr>
															<tr>
																<td class="emptyrow"></td>
																<td class="emptyrow"></td>
																<td class="emptyrow text-right"><strong>VAT(21%)</strong></td>
																<td class="emptyrow text-right">
                                                                    <span th:text="#{product.currency.euro}"></span>
                                                                    <span data-th-text="${order.orderGrandTotalVat}"></span>
                                                                </td>
															</tr>
                                                            <tr>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow text-right"><strong>Shipping included (DHL)</strong></td>
                                                                <td class="emptyrow text-right">
                                                                    <div th:replace="common/macros :: orderShippingAndOrderGrandWidthTotal" />
                                                                </td>
                                                            </tr>

                                                            <tr th:if="${lessThenCrateLtc}">
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow text-right"><strong>Less Then crate included (Ltc):</strong></td>
                                                                <td class="emptyrow text-right">
                                                                    <span th:text="#{product.currency.euro}"></span>
                                                                    <span  th:text="${#numbers.formatDecimal(300, 1 ,2)}"></span>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow"></td>
                                                                <td class="emptyrow text-right"><strong>Shipping weight (kg)</strong></td>
                                                                <td class="emptyrow text-right">
                                                                    <span data-th-text="${order.orderGrandWidthTotal}"></span>
                                                                    <span th:text="#{product.width.kg}"></span>
                                                                </td>
                                                            </tr>
															<tr>
																<td class="emptyrow">
                                                                    <a th:href="@{/admin/generate-pdf-invoice/} + ${order.id}" target="_blank">
                                                                        <span style="font-weight: bold; font-size: 20px;">PDF</span>
                                                                    </a>
                                                                </td>
																<td class="emptyrow"></td>
																<td class="emptyrow text-right" style="background-color: #b7b7b7; font-size: 20px;"><strong>Order Total</strong></td>
																<td class="emptyrow text-right" style="background-color: #b7b7b7; font-weight: bold; font-size: 20px;">
                                                                    <span th:text="#{product.currency.euro}"></span>
                                                                    <span data-th-text="${order.orderSumTotalOrderWithShippingAndIncludeVat}"></span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane" th:classappend="${classActiveShipping}? 'in active'" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">

				<!-- Shipping Information -->
				<div>
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body" style="margin-top: 20px;">

								<div style="padding: 40px;">

                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">
                                            <a th:href="@{/listOfShippingAddresses}" th:style="${listOfShippingAddresses}? 'color:red'">
                                                List of Shipping Addresses
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            <a th:href="@{/addNewShippingAddress}" th:style="${addNewShippingAddress}? 'color:red'">
                                                Add(Update) Shipping Address</a>
                                        </li>
                                    </ol>

                                    <div th:if="${listOfShippingAddresses}">
                                        <form th:action="@{/setDefaultShippingAddress}" method="post">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Default</th>
                                                    <th>Shipping Address</th>
                                                    <th>Operations</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="userShipping : ${userShippingList}">
                                                    <td>
                                                        <input type="radio"
                                                               name="defaultShippingAddressId"
                                                               th:value="${userShipping.id}"
                                                               th:checked="${userShipping.userShippingDefault}" /><span>default</span>
                                                    </td>
                                                    <td th:text="${userShipping.userShippingStreet1}+', '+
															${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
                                                    <td>
                                                        <a th:href="@{/updateUserShipping(id=${userShipping.id})}">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>&nbsp;&nbsp;
                                                        <a th:href="@{/removeUserShipping(id=${userShipping.id})}">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <button class="btn btn-primary" type="submit">Save</button>

                                        </form>
                                    </div>

                                    <div th:if="${addNewShippingAddress}">

                                        <div class="alert alert-danger" th:if="${phoneNumberValidation}">
                                            <strong>Phone number verification!</strong>
                                        </div>

                                        <form th:action="@{/addNewShippingAddress}" method="post">
                                            <div class="bg-info" th:if="${updateUserShippingInfo}">User info updated.</div>

                                            <input hidden="hidden" name="id" th:value="${userShipping.id}" />

                                            <!-- Shipping Address -->
                                            <hr />

                                            <div class="form-group">
                                                <h4>Shipping Address</h4>
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingName">* Company Name/Name</label>
                                                <input type="text"
                                                       class="form-control" id="shippingName"
                                                       placeholder="Company Name/Name"
                                                       th:name="userShippingName"
                                                       required="required"
                                                       th:value="${userShipping.userShippingName}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingVat">VAT</label>
                                                <input type="text"
                                                       class="form-control" id="shippingVat"
                                                       placeholder="VAT"
                                                       th:name="userShippingVat"
                                                       th:value="${userShipping.userShippingVat}" />
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingAddress">* Street Address</label>
                                                <input
                                                    type="text" class="form-control" id="shippingAddress"
                                                    placeholder="Street Address"
                                                    th:name="userShippingStreet1" required="required"
                                                    th:value="${userShipping.userShippingStreet1}" />
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="shippingCity">* City</label> <input
                                                            type="text" class="form-control" id="shippingCity"
                                                            placeholder="Shipping City" th:name="userShippingCity"
                                                            required="required"
                                                            th:value="${userShipping.userShippingCity}" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="shippingState">* State</label>
                                                        <select id="shippingState" class="form-control"
                                                            th:name="userShippingState"
                                                            th:value="${userShipping.userShippingState}"
                                                            required="required">
                                                        <option value="">Please select an option</option>
                                                        <option th:each="country : ${countriesList}" th:text="${country.country}"
                                                                th:selected="(${userShipping.userShippingState}==${country.country})"></option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="shippingZipcode">* Zipcode</label> <input
                                                            type="text" class="form-control" id="shippingZipcode"
                                                            placeholder="Shipping Zipcode"
                                                            th:name="userShippingZipcode" required="required"
                                                            th:value="${userShipping.userShippingZipcode}" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="shippingPhone">* Phone</label> <input
                                                            type="tel" class="form-control" id="shippingPhone"
                                                            placeholder="+999 999 999"
                                                            th:name="userShippingPhone" required="required"
                                                            th:value="${userShipping.userShippingPhone}" />
                                                    </div>
                                                </div>

                                            </div>

                                            <hr />

                                            <button type="submit" class="btn btn-primary">Save All</button>

                                        </form>
                                    </div>
                                </div>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>


	</div>
	<!-- end of container -->
	<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>
