<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">

    <div th:replace="common/macros :: verticalNavigation"/>

    <form class="form-horizontal" th:object="${uploadFile}" th:action="@{/settings/files/add}" method="post"
          enctype="multipart/form-data">
        <div class="col-sm-9">
            <legend class="center-block">
                Files &amp;&amp; images / add files
            </legend>

            <!-- upload images -->
            <div class="form-group">
                <div class="col-md-2">
                    <label for="file">Upload file</label>
                </div>
                <div class="col-md-8">
                    <input id="file" type="file" name="file" th:value="${uploadFile.file}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success">Add File</button>
                    <a class="btn btn-danger" th:href="@{/settings/files}">Cancel</a>
                </div>
            </div>
        </div>
    </form>

</div>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
