<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="table-responsive">
			<table id="typeListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAll" type="checkbox" /></th>
						<th>Title</th>
						<th>Active?</th>
						<th>Description</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="type : ${typeList}">
						<td>
							<input hidden="hidden" name="id" th:value="${type.id}" />
							<input th:id="'selected'+${type.id}" class="checkboxData" type="checkbox" />
						</td>
						<td><a th:href="@{/type/typeInfo(id=${type.id})}"><span th:text="${type.title}"></span></a></td>
						<td th:text="${type.active}"></td>
						<td th:text="${type.description}"></td>
						<td>
							<input hidden="hidden" name="id" th:value="${type.id}" />
							<button th:id="'oneType-'+${type.id}" class="btn btn-danger btn-xs delete-product" type="submit" value="delete" >
								<span class="fa fa-times"></span>
								Delete
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />

	<script>
		$(document).ready(function() {
			$("#typeListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
