<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">

    <div th:replace="common/macros :: verticalNavigation" />

    <div class="row">
        <form class="form-horizontal" th:action="@{/settings/update}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">
                    Update Tile<span style="font-size: small"> * is a required field</span>
                </legend>

                <input hidden="hidden" name="id" th:value="${settings.id}"/>

                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="title">* Title</label>

                    <div class="col-md-8">
                        <input type="text" name="title" class="form-control" id="title"
                               th:value="${settings.title}" required="required" placeholder="title" />
                        <span class="help-block">title</span>
                    </div>
                </div>

                <!-- status of settings -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="status">Status</label>
                    <div class="col-md-8">
                        <label><input value="true" type="radio" name="active"
                                      th:checked="${settings.active}" /> Active </label> <label><input
                            value="false" type="radio" name="active" th:checked="${!settings.active}"/>
                        Inactive </label> <span class="help-block">Whether the settings is
								active or inactive</span>
                    </div>
                </div>

                <!-- description -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="html">html</label>
                    <div class="col-md-8">
                        <textarea name="html" rows="20" class="form-control"
                                  id="html"
                                  th:value="${settings.html}"
                                  th:utext="${settings.html}"
                                  placeholder="html" />
                        <span class="help-block">html</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Update Settings</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>



</div>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
