<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">

    <if condition='property("spring.profiles.active").contains("prod")'>
        <then>
            <property name="NAME" value="eshopweb.log"/>
            <!--<property name="LOG_PATH" value="logs"/>-->

            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/${NAME}</file>       
                <append>true</append>     
                <encoder>          
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>        
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${LOG_PATH}/${NAME}.%d{yyyy-MM-dd}.%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!--<maxFileSize>1MB</maxFileSize>-->
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <!-- keep 10 days' worth of history -->
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
            </appender>

            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <logger name="com.eshopweb" level="info"/>

            <root level="info">
                <appender-ref ref="STDOUT"/>
            </root>

            <root level="info">
                <appender-ref ref="FILE"/>
            </root>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
            <root level="info">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>

</configuration>
