<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
    <meta charset="UTF-8"/>
    <title>ERROR</title>
</head>

<body>
<div th:replace="common/header :: navbar" />

<div class="container">

    <div class="row" style="margin-top:10px">
        <h1>Error Page</h1>
    </div>

    <div class="row" style="margin-top:10px">

        <h3 th:text="${url}"/>

        <h3 th:text="${exception}"/>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="col-xs-9 col-xs-offset-3">
            <h5>Bad request. The request path is invalid. Click <a th:href="@{/}">here</a> to return to the home page.</h5>
        </div>
    </div>

</div>
</body>
</html>
